 .container {
    border: 2px solid #ADD8E6;
    width: 700px;
    margin: 0 auto;
    height: 550px;
}

.info-col {
    display: flex;
    height: 40px;
    margin-top: 4%;
    margin-bottom: 4%;
}

label {
    width: 120px;
    text-align: center;
    margin-bottom: 0px;
    margin-left:30px
}

input,
select {
    border: 1.5px solid #2e8bc0;
    background-color: #b5c8ef;
    width: 60%;
}


#submit {
    background-color:  #7DA8FF;
    border-radius: 10px;
    width: 25%;
    height: 43px;
    border: 1.5px solid #2e8bc0;
    margin: 10px 250px;
    color: white;

}

.row{
    display: flex;
    justify-content: space-between;
    padding : 0 20px
} 
.row button{
    background-color: #7DA8FF; 
    border-radius: 6px; 
    color:white;
    border: 1.5px solid #2e8bc0;
    width: 100px;
}

th,td{
    padding:5px 25px;
}

button.btn{
    background-color: #b5c8ef; 
    border-radius: 6px; 
    color:white;
    border: 1.5px solid #2e8bc0;

}